DOCKERHUB_USERNAME=chungseoplee
APP_IMAGE_TAG=0.0.1
FRONT_IMAGE_TAG=0.0.1

MARIADB_DATABASE=hotel
MARIADB_ROOT_PASSWORD=1234
MARIADB_PORT=33306

REDIS_PASSWORD=mjc813pass
REDIS_PORT=6379

APP_PORT=33000

MAIL_USERNAME=awsseop@gmail.com
MAIL_PASSWORD=nbvmtqzeugmvjdjs
TOSS_SECRET_KEY=test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6
TOUR_API_SERVICE_KEY=b150552048fb26688f074a89f2c3993e1014fd98825c18dd6cb31f27c410fbda
